데이터 프레임(data frame): 행과 열로 구성된 데이터의 형태

열 = column = 변수(variable)

행 = row = 케이스(case)
- 하나의 단위 = 하나의 행


데이터가 크다 = 행 또는 열이 많다
- 행이 많은 경우 - 고사양 장비 필요
- 열이 많은 경우 - 고급 분석 방법 필요

데이터 프레임 만들기 - 시험 성적 데이터

In [1]:
import pandas as pd
# 데이터 프레임을 만들 때는 pandas의 DataFrame()을 사용

In [7]:
df = pd.DataFrame({
    'name': ['김지훈', '이유진', '박동현', '김민지'],
    'english': [90, 80, 60, 70],
    'math': [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

특정 열의 값 추출

In [10]:
df['english']
# 데이터프레임명[열이름]

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [11]:
sum(df['english'])

300

In [12]:
sum(df['math'])

230

In [13]:
sum(df['english'])/4
# 영어점수 평균

75.0

In [14]:
sum(df['math'])/4
# 수학점수 평균

57.5

> 문제

1. 표를 데이터 프레임으로 만들기

In [15]:
import pandas as pd

df = pd.DataFrame({
    '제품': ['사과', '딸기', '수박'],
    '가격': [1800, 1500, 3000],
    '판매량': [24, 38, 13]
})
df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

2. 위 데이터 프레임을 이용하여 과일 가격의 평균과 판매량 평균 구하기

In [16]:
sum(df['가격'])/3

2100.0